:root {
  --backgrounMenuMK: transparent;
  --colorMK: rgba(255, 179, 123, 1);
  --colorBorderMK: rgba(239, 125, 0 , 1);
  --contornoLogoMK: rgba(196, 179, 153, 1);
  --backgrounMenuSH: transparent;
  --colorSH: rgba(0, 0, 0, 1);
}
.menuBar{
  max-width: 100px;
}
.containerMenuBar{
  max-width: 100px;
}

.responseBar{
  display: none;
}
.unCollapsed{
  flex: 0 0 220px!important;
  width: 220px !important;
  max-width: 220px !important;
  min-width: 220px !important;
}

.mukafe  > .ant-layout-sider-trigger{
  border-top: 2px solid rgba(239, 125, 0, 1) !important;
  background: transparent !important;
}
.mukafe > .ant-layout-sider-trigger > span > svg{
  fill: var(--colorMK) !important;
}
.davirton  > .ant-layout-sider-trigger{
  border-top: 2px solid rgba(255, 255, 255, 1) !important;
  background: transparent !important;
}
.davirton > .ant-layout-sider-trigger > span > svg{
  fill: white !important;
}
.sh  > .ant-layout-sider-trigger{
  border-top: 2px solid rgba(0, 0, 0, 1) !important;
  background: transparent !important;
}
.sh > .ant-layout-sider-trigger > span > svg{
  fill: black !important;
}

.unCollapsed > .ant-layout-sider-trigger{
  width: 220px !important;
}
.ant-menu-title-content{
  font-size: 12px;
  font-weight: bold;
}
.ant-menu-item > span{
  font-weight: bold;
  font-size: 12px;
}

.mukafeLogo{
  border-bottom: 2px solid rgba(239, 125, 0, 1);
}
.shLogo{
  border-bottom: 2px solid rgba(0, 0, 0, 1);
}
.davirtonLogo{
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.mukafeIconBar{
  fill: rgba(239, 125, 0, 1) !important;
}
.shIconBar{
  fill: rgba(0, 0, 0, 1) !important;
}
.davirtonIconBar{
  fill: rgba(255, 255, 255, 1) !important;
}

.mukafeMenu{
  background: var(--backgrounMenuMK);
  color: var(--colorMK);
  font-weight: bold;
}
.shMenu{
  background: var(--backgrounMenuSH);
  color: var(--colorSH);
  font-weight: bold;
}
.davirtonMenu{
  background: var(--backgrounMenuSH);
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}
.mukafeMenu > .ant-menu-item:hover{
  background: rgba(255, 255, 255, 0.5) !important;
  color: var(--colorMK) !important;
}
.mukafeMenu > .ant-menu-item-selected{
  background: white !important;
  color: var(--colorBorder);
  font-weight: bold;
}
.davirtonMenu > .ant-menu-item-selected{
  background: rgba(255, 255, 255, 1) !important;
  color: black !important;
  font-weight: bold;
}
.davirtonMenu > .ant-menu-item:hover{
  background: rgba(255, 255, 255, 0.8) !important;
  color: black !important;
}
.shMenu > .ant-menu-item:hover{
  background: rgba(196, 179, 153, 0.7) !important;
  color: var(--colorSH) !important;
}
.shMenu > .ant-menu-item-selected{
  background: rgba(196, 179, 153, 1) !important;
  color: var(--colorBorder);
}

.ant-layout-sider-children{
  display: flex;
  flex-direction: column;
  justify-content: start;
}


.logoutMenuContainer{
  margin-top: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 55px;
}
.logoutMenuContainer > span{
  margin: 5px 0;
  color: white;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
.btnLogout {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: black;
  padding: 3px;
  border-radius: 8px;
  width: 85%;
  height: 36px;
  border-color: white;
  color: white;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}
.btnLogout:hover{
  cursor: pointer;
}
.btnLogout > span > svg{
  width: 18px;
  height: 18px;
  fill: rgba(255, 255, 255, 1) !important;
}

@media (max-width: 768px) {
  .noResponse{
    display: none;
  }
  .containerMenuBar{
    max-width: 100px;
  }
  .responseBar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    max-width: 100%;
    padding: 0px 25px 0 25px;   
  }
  .mukafeMenu > li > .ant-menu-submenu-title > .anticon svg{
    fill: var(--colorBorderMK) !important;
  }
  .shMenu > li > .ant-menu-submenu-title > .anticon svg{
    fill: var(--colorSH) !important;
  }
  .davirtonMenu > li > .ant-menu-submenu-title > .anticon svg{
    fill: white !important;
  }
  .responseHeaderVarmukafe{
    width: 100%;
    max-width: 100%;
    background: var(--backgrounMenuMK);
    color: var(--colorMK);
    font-weight: bold;
  }
  .responseHeaderVarsh{
    width: 100%;
    background: var(--backgrounMenuSH);
    color: var(--colorSH);
    font-weight: bold;
  }
  .responseHeaderVardavirton{
    width: 100%;
    background: black;
    color: white;
    font-weight: bold;
  }
  .mukafeLogo{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    border-bottom: none;
  }
  .mukafeLogo > img{
    width: 48px;
    height: 48px;
  }
  .mukafeIconBar > svg{
    fill: var(--colorBorderMK) !important;
  }
  .shIconBar > svg{
    fill: black !important;
  }
  .shLogo{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    border-bottom: none;
  }
  .shLogo > img{
    width: 48px;
    height: 48px;
  }
  .davirtonIconBar > svg{
    fill: white !important;
  }
  .davirtonLogo{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    border-bottom: none;
  }
  .davirtonLogo > img{
    width: 48px;
    height: 48px;
  }
  .ant-menu-submenu-arrow::before{
    display: none !important;
  }
  .ant-menu-submenu-arrow::after{
    display: none !important;
  }
   
  .responseBar > .containerMenuBar  > .ant-menu-horizontal > .ant-menu-overflow-item::after {
    display: none !important;
  } 
}

@media screen and (max-width: 420px) {
  .noResponse{
    display: none;
  }
  
  .containerMenuBar{
    max-width: 100px;
  }
  .responseBar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    padding: 0px 25px 0 25px;   
  }
  .mukafeMenu > li > .ant-menu-submenu-title > .anticon svg{
    fill: var(--colorBorderMK) !important;
  }
  .shMenu > li > .ant-menu-submenu-title > .anticon svg{
    fill: var(--colorSH) !important;
  }
  .davirtonMenu > li > .ant-menu-submenu-title > .anticon svg{
    fill: white !important;
  }
  .responseHeaderVarmukafe{
    width: 100%;
    background: var(--backgrounMenuMK);
    color: var(--colorMK);
    font-weight: bold;
  }
  .responseHeaderVarsh{
    width: 100%;
    background: var(--backgrounMenuSH);
    color: var(--colorSH);
    font-weight: bold;
  }
  .responseHeaderVardavirton{
    width: 100%;
    background: black;
    color: white;
    font-weight: bold;
  }
  .mukafeLogo{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    border-bottom: none;
  }
  .mukafeLogo > img{
    width: 48px;
    height: 48px;
  }
  .mukafeIconBar > svg{
    fill: var(--colorBorderMK) !important;
  }
  .shIconBar > svg{
    fill: black !important;
  }
  .shLogo{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    border-bottom: none;
  }
  .shLogo > img{
    width: 48px;
    height: 48px;
  }
  .davirtonIconBar > svg{
    fill: white !important;
  }
  .davirtonLogo{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    border-bottom: none;
  }
  .davirtonLogo > img{
    width: 48px;
    height: 48px;
  }
  .ant-menu-submenu-arrow::before{
    display: none !important;
  }
  .ant-menu-submenu-arrow::after{
    display: none !important;
  }
   
  .responseBar > .containerMenuBar  > .ant-menu-horizontal > .ant-menu-overflow-item::after {
    display: none !important;
  }  
}




