.ant-modal-title{
  font-size: 18px !important;
  font-weight: bold !important;
}
.modalCategoria{
  width: 60% !important;
}
.ant-modal-body{
  width: 100% !important;
}
.bodyContainerModalPrint{
  width: 100%;
}
.btnPrintTagContainer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.btnPrintTagContainer > button{
  width: 150px;
  height: 30px;
  border-radius: 8px;
  background: black;
  color: white;
  font-size: 14px;
  padding: 2px;
  font-weight: 600;
}
.btnPrintTagContainer > button:hover{
  cursor: pointer;
}

.tss-hj53wm-MUIDataTableToolbar-titleText{
  font-size: 14px !important;
}
@media (max-width: 950px){
  .ant-modal-title{
    font-size: 15px !important;
    font-weight: bold !important;
  }
  .tss-hj53wm-MUIDataTableToolbar-titleText{
    font-size: 13px !important;
  }
 .modalCategoria{
  width: 60% !important;
 }  
 .ant-modal-body{
  width: 100% !important;
  }
  .colTwo{
    width: 100%;
  }
}
@media screen and (max-width: 950px){
  .tss-hj53wm-MUIDataTableToolbar-titleText{
    font-size: 13px !important;
  }
  .ant-modal-title{
    font-size: 15px !important;
    font-weight: bold !important;
  }
  .modalCategoria{
    width: 60% !important;
  }
  .ant-modal-body{
    width: 100% !important;
  }
  .colTwo{
    width: 100%;
  }
}

@media (max-width: 580px){
  .tss-hj53wm-MUIDataTableToolbar-titleText{
    font-size: 12px !important;
  }
  .ant-modal-title{
    font-size: 13px !important;
    font-weight: bold !important;
  }
  .modalCategoria{
   width: 90% !important;
  }  
  .ant-modal-body{
   width: 100% !important;
   }
   .colTwo{
     width: 100%;
   }
 }
 @media screen and (max-width: 580px){
  .tss-hj53wm-MUIDataTableToolbar-titleText{
    font-size: 12px !important;
  }
  .ant-modal-title{
    font-size: 13px !important;
    font-weight: bold !important;
  }
   .modalCategoria{
     width: 90% !important;
   }
   .ant-modal-body{
     width: 100% !important;
   }
   .colTwo{
     width: 100%;
   }
 }