.containerCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 200px;
  min-width: max-content;
  max-width: 250px;
}

.containerCard > h1{
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.containerCard > p{
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
conatainerPrice{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.conatainerPrice > span{
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
#siglasCoin{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}